<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>うんこなう</title>
  <style type="text/css"></style>
</head>
<body>
<div class="main">
  <form action="/authorize" method="post">
    <input type="text" name="pin">
    <input type="submit">
  </form>
</div>
</body>
</html>
