<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>うんこなう</title>
  <style type="text/css">
    <!--
    body {
      height: 100vh;
      margin:0;
      padding: 0;
      color: #111111;
      font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
      font-weight: 500;
    }
    .main {
      background-color: #f4d942;
      width: 100%;
      height: 100%;
      padding: 10px 0;
    }
    .contents {
      padding: 20% 15%;
      text-align: center;
    }
    .title {
      font-size: 90px;
    }

    .unko {
      width: 80%;
      max-width: 400px;
      filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.4));
    }

    .unko:active{
      filter: drop-shadow(8px 8px 8px rgba(0,0,0,0));
      padding-top: 5px;
      width: 78%;
      max-width: 390px;
    }
    .arrow {
      font-size: 60px;
      margin-top: 40px;
      margin-bottom: 0;
    }

    .description {
      margin: 0;
      margin-top: 8px;
      font-size: 40px;
      text-align: left;
    }

    .flash-message {
      margin: 20px;
      padding: 15px;
      font-size: 30px;
      background: #F2F2F2;
      opacity: 0.8;
      border-radius: 20px;
    }

    .text {
      font-size: 40px;
      margin: 5px 15px;
    }
    -->
  </style>
</head>
<body>
  <div class="main">
    <% if flash[:notice] %>
      <div class="flash-message">
        <p class="text"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <div class="contents">
      <h1 class="title">UNKO NOW</h1>
      <a href='/tweet'>
        <img class="unko" ontouchstart="" src="unko_button.png">
      </a>
      <p class="arrow">
        ⬆
      </p>
      <p class="description">
        このUNKOを押すと、様々な言語で「うんこなう」とつぶやかれるよ!
      </p>
    </div>
  </div>
</body>
</html>
