<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="うんこなう" />
  <meta property="og:description" content="世界に「うんこなう」をつぶやこう！" />
  <meta property="og:image" content="https://lh4.googleusercontent.com/6fQQmyAP6VU_B7iU2Rc3BVmC00pVm4gJ8IYQae2A5LTLwqBFOPv-xiVqdX9JHLM8ifrKahbmqM0r5_nDH82l=w2880-h1534" />

  <title>うんこなう</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" sizes="192x192"/>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

</head>
<body>
  <div class="main">
    <% if flash[:notice] %>
      <div class="flash-message">
        <p class="text"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <div class="contents">
      <h1 class="title">UNKO NOW</h1>

      <%
        if twitter_authenticated?
          unko_button_url = '/tweet'
          description = flash[:message]
        else
          unko_button_url = @twitter_authorize_url
          description = 'まずは、このうんこボタンを押してTwitterと連携させよう！'
        end
      %>
        <div class="unko_button">
          <a href=<%= unko_button_url %>>
            <img class="unko" ontouchstart="" src="/images/unko_button.png">
          </a>
        </div>

      <% unless description.nil? %>
        <div class="description">
          <p class="arrow">
            ⬆
          </p>
          <p class="description-text">
            <%= description %>
         </p>
        </div>
      <% end %>
    </div>
  </div>

  <script>
      // Service Worker対応ブラウザ
      if ('serviceWorker' in navigator){
          // Service Workerを登録
          navigator.serviceWorker.register('/js/serviceworker.js').then(function(registration){
          });
      }
  </script>
</body>
</html>
