<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>うんこなう</title>
  <style type="text/css">
  </style>
</head>
<body>
  <a href='/auth/twitter'>Sign in with Twitter</a>

  <form action='/auth/open_id' method='post'>
    <input type='text' name='identifier'/>
    <input type='submit' value='Sign in with OpenID'/>
  </form>
</body>
</html>
